{% extends "layout.html" %}
{% block body %}
<style type="text/css">
  body {
    font-family: 'Helvetica Neue', Helvetica, Arial, serif;
    background-color: rgb(246, 248, 248);
    text-align: center;
    background-color: #000;
  }
  .container {
    width: 100%;
    position: absolute;
    top: 40%;
  }
  h1 {
    color: #fff;
  }
  h3 {
    color: #666;
  }
</style>
<div class="container">
  <div>
    <h1>Pixell.io</h1>
    <h3>A URL Shortener with Super Powers</h3>
  </div>
</div>
{% endblock %}
