<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
  <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/site.css')}}">
  <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/semantic.min.css')}}">
  <style type="text/css">
    body {
      background-color: #DADADA;
    }
    body > .grid {
      height: 100%;
    }
    .image {
      margin-top: -100px;
    }
    .column {
      max-width: 450px;
    }
  </style>
  <script src="https://code.jquery.com/jquery-2.2.1.min.js" integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00=" crossorigin="anonymous"></script>
</head>
<body>

  {% block body %}
  {% endblock %}

</body>
</html>




<!DOCTYPE html>
<html>
<head>
  <title>Pixell.io New</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
​
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.5.8/clipboard.min.js"></script>
</head>
<body>
<style type="text/css">
  body {
    font-family: 'Helvetica Neue', Helvetica, Arial, serif;
    background-color: rgb(246, 248, 248);
    background-color: #000;
  }
  .box {
    width: 100%;
    position: absolute;
  }
  h1 {
    text-align: center;
    color: #fff;
  }
  h3 {
    color: #666;
  }
</style>
<script type="text/javascript">
  new Clipboard('.btn');
</script>
  <div class="box">
    <div class="container">
    </div>
  </div>
</body>
</html>
