{% extends "layout.html" %}
  {% block body %}

  <h1 class="text-center">Pixell.io Shortener</h1>
  <div class="col-md-6 col-md-offset-3">
    <form class="ui large form" action="/new" method="POST">
      <div class="well">
        <div class="form-group">
          <label for="url">Website URL</label>
          <div class="input-group">
            <input type="text" class="form-control input-lg" id="url" placeholder="http://something.com" name="url" required="required">
            <span class="input-group-btn">
              <button class="btn btn-primary input-lg" type="submit">Shorten URL</button>
            </span>
          </div>
        </div>
        <div class="form-group">
          <label for="short-url">Short URL</label>
          <div class="input-group">
            <input type="text" class="form-control input-lg" id="short-url" value="{{ redirect_url | safe }}" readonly>
            <span class="input-group-btn">
              <button class="btn btn-warning input-lg" type="button" data-clipboard-target="#short-url" ><span class="glyphicon glyphicon-copy"></span> Copy</button>
            </span>
          </div>
        </div>
        <div class="form-group">
          <label for="category">Category</label>
          <select class="form-control input-lg" id="category" name="keyword" required="required">
            <option>android</option>
            <option>career</option>
            <option>digital-marketing</option>
            <option>ios</option>
            <option>javascript</option>
            <option>learning</option>
            <option>php</option>
            <option>python</option>
            <option>ruby</option>
            <option>web-design</option>
          </select>
        </div>
      </div>
      <div class="well">
        <div class="form-group">
          <label for="pixelcode">Pixel Code</label>
          <textarea rows="5" class="form-control input-lg" id="pixel_script" placeholder="Insert Pixel Code" name="pixel_script"><script>
!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
document,'script','//connect.facebook.net/en_US/fbevents.js');

fbq('init', '597841967035840');
fbq('track', "PageView");</script>
<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=597841967035840&ev=PageView&noscript=1"
/></noscript>
              </textarea>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control input-lg" id="password" placeholder="Password">
        </div>
      </div>
    </form>
  </div>

  <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/site.css')}}">
  <script src="{{url_for('static', filename='js/js.cookie.js')}}"></script>
  <script>
    $("#pixel_script").val(Cookies.get("pixel"));
    $("#pixel_script").on('click', function () {this.focus(); this.select()});
    $("button").on('click', function () {
      var pixel = $("textarea").val();
      Cookies.set("pixel", pixel);

    });
  
  </script>

  {% endblock %}
